{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}
{% block content %}
<h2>Password Change</h2>
<p> please enter your old password,and then enter your new password twice so we can verify you typed it in correctly.</p>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button class=" btn btn-success ml-2" type="submit">Log In</button>

</form>
{% endblock content %}
