{% extends 'base.html' %}
{% block title %}Password Change Successful{% endblock title %}
{% block content %}
<h2>Password Change Successful</h2>
<p>your password was changed.</p>

{% endblock content %}
