{% extends 'base.html' %}
{% block title %}Enter New Password{% endblock title %}
{% block content %}
<h2>Set a new password</h2>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="change my password" class="btn btn-success">

</form>
{% endblock content %}
