{% extends 'base.html' %}
{% block title %}Passwor reset complete{% endblock title %}
{% block content %}
<h2>Password reset complete</h2>
<p>you can log in now <a href="{%url 'login'%}">Log In</a> </p>

{% endblock content %}
