{% extends 'base.html' %}
{% block title %}Forget Your Password ?{% endblock title %}
{% block content %}
<h2>Forget Your Password</h2>
<p> Enter your email address below ,and we will email instructions for setting a new one</p>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="send me instructions" class="btn btn-success">

</form>
{% endblock content %}
